@model Guid?

@section script {
	<script type="text/javascript">
		ko.applyBindings(new manager.models.pagetype('@Model', {
			required: 'Field is required',
			unique: 'Field has to be unique'
		}));
	</script>
}

@using (var form = Html.BeginForm("Save", "PageTypeMgr", FormMethod.Post, new { @class = "form", @role = "form" })) {
	<div class="row">
		<div class="col-sm-12 buttons">
			<!-- Actions -->
			<div class="btn-group">
				<button type="submit" class="btn btn-labeled btn-success" data-bind="click: save">
					<span class="btn-label">
						<i class="glyphicon glyphicon-ok"></i>
					</span>@Piranha.Manager.Resources.Global.Save
				</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<input name="Name" type="text" class="form-control title" placeholder="Add name" data-bind="value: name" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
				<textarea name="Description" class="form-control count-me" rows="4" placeholder="Add optional description" data-bind="value: description"></textarea>
				<p><span data-bind="text: descriptionLength"></span>/255 characters</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<input name="Slug" type="text" class="form-control meta" placeholder="Slug will be generated automatically" data-bind="value: slug" />
			</div>
			<div class="form-group">
				<input name="Route" type="text" class="form-control meta" placeholder="Add optional route" data-bind="value: route" />
			</div>
			<div class="form-group">
				<input name="View" type="text" class="form-control meta" placeholder="Add optional view" data-bind="value: view" />
			</div>
		</div>
	</div>

	<div class="row with-sidebar">
		<div class="col-sm-12">	
			<!-- Regions -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Internal id</th>
						<th>Collection</th>
						<th>Type</th>
						<th class="actions three"></th>
					</tr>
				</thead>
				<tbody>
					<!-- ko foreach: { data: regions, as: 'region' } -->
					<tr>
						<td>
							<input type="text" class="form-control" data-bind="value: region.Name" />
						</td>
						<td>
							<input type="text" class="form-control" data-bind="value: region.InternalId" />
						</td>
						<td>
							<input type="checkbox" data-bind="checked: region.IsCollection" />
						</td>
						<td>
							<select class="form-control" data-bind="options: $root.regionTypes, optionsText: 'Text', value: region.CLRType"></select>
						</td>
						<td class="actions">
							<a href="#" class="up" data-bind="click: function() { $root.regionUp(region); }"></a>
							<a href="#" class="down" data-bind="click: function() { $root.regionDown(region); }"></a>
							<a href="#" class="delete" data-bind="click: function() { $root.regionDelete(region); }"></a>
						</td>
					</tr>
					<!-- /ko -->
					<tr>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" data-bind="value: newRegionName" placeholder="Display name" />
								<!-- ko if: newRegionNameError -->
								<span class="field-validation-error" data-bind="text: newRegionNameError"></span>
								<!-- /ko -->
							</div>
						</td>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" data-bind="value: newRegionId" placeholder="Internal id" />
								<!-- ko if: newRegionIdError -->
								<span class="field-validation-error" data-bind="text: newRegionIdError"></span>
								<!-- /ko -->
							</div>
						</td>
						<td>
							<input type="checkbox" data-bind="checked: newRegionCollection" />
						</td>
						<td>
							<div class="form-group">
								<select class="form-control" data-bind="options: $root.regionTypes, optionsText: 'Text', value: newRegionType, optionsCaption: 'Choose type'"></select>
								<!-- ko if: newRegionTypeError -->
								<span class="field-validation-error" data-bind="text: newRegionTypeError"></span>
								<!-- /ko -->
							</div>
						</td>
						<td>
							<button class="btn btn-primary" data-bind="click: regionAdd">Add</button>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- Properties -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Internal id</th>
						<th>Collection</th>
						<th>Type</th>
						<th class="actions three"></th>
					</tr>
				</thead>
				<tbody>
					<!-- ko foreach: { data: properties, as: 'property' } -->
					<tr>
						<td>
							<input type="text" class="form-control" data-bind="value: property.Name" />
						</td>
						<td>
							<input type="text" class="form-control" data-bind="value: property.InternalId" />
						</td>
						<td>
							<input type="checkbox" data-bind="checked: property.IsCollection" />
						</td>
						<td>
							<select class="form-control" data-bind="options: $root.propertyTypes, optionsText: 'Text', value: property.CLRType"></select>
						</td>
						<td class="actions">
							<a href="#" class="up" data-bind="click: function() { $root.propertyUp(property); }"></a>
							<a href="#" class="down" data-bind="click: function() { $root.propertyDown(property); }"></a>
							<a href="#" class="delete" data-bind="click: function() { $root.propertyDelete(property); }"></a>
						</td>
					</tr>
					<!-- /ko -->
					<tr>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" data-bind="value: newPropertyName" placeholder="Display name" />
								<!-- ko if: newPropertyNameError -->
								<span class="field-validation-error" data-bind="text: newPropertyNameError"></span>
								<!-- /ko -->
							</div>
						</td>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" data-bind="value: newPropertyId" placeholder="Internal id" />
								<!-- ko if: newPropertyIdError -->
								<span class="field-validation-error" data-bind="text: newPropertyIdError"></span>
								<!-- /ko -->
							</div>
						</td>
						<td>
							<input type="checkbox" data-bind="checked: newPropertyCollection" />
						</td>
						<td>
							<div class="form-group">
								<select class="form-control" data-bind="options: $root.propertyTypes, optionsText: 'Text', value: newPropertyType, optionsCaption: 'Choose type'"></select>
								<!-- ko if: newPropertyTypeError -->
								<span class="field-validation-error" data-bind="text: newPropertyTypeError"></span>
								<!-- /ko -->
							</div>
						</td>
						<td>
							<button class="btn btn-primary" data-bind="click: propertyAdd">Add</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
}