@model Piranha.Manager.Models.PageType.EditModel.PagePart
@{
	SelectList regionTypes = (SelectList)ViewData["regionTypes"];
}

<tr>
	<td>@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })</td>
	<td>@Html.TextBoxFor(m => m.InternalId, new { @class = "form-control" })</td>
	<td>@Html.CheckBoxFor(m => m.IsCollection)</td>
	<td>@Html.DropDownListFor(m => m.CLRType, regionTypes, "", new { @class = "form-control" })</td>
	<td class="actions"><a href="#" class="delete"></a></td>
</tr>

